<template>
    <div>
        <Sidebar v-bind:drawer="drawer" @changeDrawerStatus="drawer=$event"></Sidebar>
        <v-toolbar color="dark flex-grow-0" dark>
            <v-app-bar-nav-icon
                    @click.stop="drawer = !drawer"
            ></v-app-bar-nav-icon>
            <v-toolbar-title>
                <slot></slot>
            </v-toolbar-title>
        </v-toolbar>
    </div>
</template>

<script>
    import Sidebar from "./Sidebar";

    export default {
        name: 'Main',
        components: {Sidebar},
        data: () => ({
            drawer: false,
        }),
        methods: {
            changeDrawerStatus(value) {
                this.drawer = value;
            }
        }
    };
</script>
