<template>
    <v-navigation-drawer v-model="drawerChild" fixed temporary>
        <v-toolbar flat dark color="grey">
            <v-list>
                <v-list-item>
                    <v-list-item-title class="title">
                        Menu
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-toolbar>
        <v-list dense>
            <v-list-item @click="dashboard" v-if="isLoggedIn">
                <v-list-item-action>
                    <v-icon>dashboard</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>Dashboard</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item @click="search" v-if="isLoggedIn">
                <v-list-item-action>
                    <v-icon>search</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>Search</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item @click="logout">
                <v-list-item-action>
                    <v-icon>logout</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>logout</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: 'Sidebar',
        props: {
            drawer: {type: Boolean, required: true}
        },
        data() {
            return {
                drawerChild: null
            };
        },
        computed: {
            isLoggedIn: function () {
                return this.$store.getters.isLoggedIn;
            }
        },
        methods: {
            logout: function () {
                this.$store.dispatch('logout')
                    .then(() => {
                        this.$router.push('/login');
                    })
            },
            search: function () {
                this.$router.push('/search');
            },
            dashboard: function () {
                this.$router.push('/main');
            }
        },
        watch: {
            drawer(value) {
                this.drawerChild = value;
            },
            drawerChild(value) {
                this.$emit('changeDrawerStatus', value);
            }
        }
    };
</script>
