<template>
    <v-app>
        <v-toolbar>
            <img :src="imageLink.logo" alt="Quant company test" height="100%">
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <router-link to="/" class="grey lighten-3 pa-5" tag="button">Home</router-link>
                <router-link to="/login" class="white--text black lighten-3 pa-5" tag="button">Login</router-link>
            </v-toolbar-items>
        </v-toolbar>
        <v-content>
            <section>
                <v-parallax :src="imageLink.sub_main" height="600">
                    <v-layout column align-center justify-center class="white--text">
                        <h1 class="white--text mb-2 display-1 text-xs-center"
                            style="font-weight: 900; text-shadow: 3px 2px #000000">Ali Zahedi Test</h1>
                        <div class="white--text subheading mb-3 text-xs-center"
                             style="font-weight: 900; text-shadow: 2px 2px #000000">
                            For Quant Company
                        </div>
                    </v-layout>
                </v-parallax>
            </section>
            <section>
                <v-container>
                    <v-layout>
                        <v-flex xs12 class="text-xs-center">
                            <img height="200px" :src="imageLink.logo">
                        </v-flex>
                    </v-layout>
                </v-container>
            </section>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        name: "Index",
        data: function () {
            return {
                title: "",
                imageLink: {
                    sub_main:
                        "https://assets.website-files.com/6006946fee85fda61f666256/60095515f697d79e512ef8d2_Group%2041.png",
                    logo:
                        "https://assets.website-files.com/6006946fee85fda61f666256/60a626fbd84ebb97d0e8c0f3_QUANT_Logo_Black-01.svg"
                }
            };
        }
    };
</script>
