<template>
    <v-app id="inspire">
        <v-main>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="dark">
                                <v-toolbar-title>Login form</v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-alert
                                            v-if="showError"
                                            border="left"
                                            color="red"
                                            elevation="5"
                                            type="error">
                                        <v-main v-html="errormessage"></v-main>
                                    </v-alert>
                                    <v-text-field
                                            prepend-icon="person"
                                            label="Email"
                                            type="text"
                                            v-model="email"
                                    ></v-text-field>
                                    <v-text-field
                                            prepend-icon="lock"
                                            label="Password"
                                            type="password"
                                            v-model="password"
                                    ></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="black" class="white--text"
                                       :disabled="btnDisabled"
                                       @click="login">Login</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
    import Helper from "../services/helper";

    export default {
        data() {
            return {
                email: '',
                password: '',
                showError: false,
                errormessage: null,
                btnDisabled: false
            }
        },
        name: 'Login',
        methods: {
            login: function () {
                let email = this.email;
                let password = this.password;
                this.btnDisabled = true;
                this.$store.dispatch('login', {email, password})
                    .then(() => {
                        this.btnDisabled = false;
                        this.showError = false;
                        this.$router.push('/search');
                    })
                    .catch(err => {
                        this.btnDisabled = false;
                        this.showError = true;
                        this.errormessage = Helper.createErrorMessage(err);
                    });
            }
        }
    };
</script>

<style></style>
