<template>
    <v-app>
        <Navigation>Dasboard</Navigation>
    </v-app>
</template>

<script>
    import Navigation from "./Layouts/Navigation";

    export default {
        name: 'Main',
        components: {Navigation}
    };
</script>
