<template>
    <v-app>
        <Navigation>Search</Navigation>
        <v-form
                class="col-md-6 offset-md-3 mt-5 col-xs-12"
                ref="form"
                lazy-validation>
            <v-alert
                    v-if="showError"
                    border="left"
                    color="red"
                    elevation="5"
                    type="error">
                <div v-html="errormessage"></div>
            </v-alert>
            <v-text-field
                    :counter="100"
                    v-model="searchWord"
                    label="Insert company name"
                    required
            ></v-text-field>
            <v-btn
                    color="black"
                    class="mr-4 white--text"
                    :disabled="btnDisabled"
                    @click="search"
            >
                Search
            </v-btn>
            <div class="text-center">
                <v-progress-circular
                        indeterminate
                        color="black"
                        v-show="btnDisabled"
                ></v-progress-circular>
            </div>
            <v-data-table
                    :headers="headers"
                    :items="items"
                    :items-per-page="10"
                    v-show="!btnDisabled"
            ></v-data-table>
        </v-form>
    </v-app>
</template>

<script>
    import Http from '../services/http';
    import Helper from '../services/helper';
    import Navigation from "./Layouts/Navigation";

    export default {
        name: 'Main',
        components: {Navigation},
        data() {
            return {
                searchWord: "",
                showError: false,
                errormessage: null,
                btnDisabled: false,
                headers: [
                    {text: 'Company name', value: 'name'}
                ],
                items: []
            }
        },
        methods: {
            search: function () {
                this.btnDisabled = true;
                this.showError = false;
                this.items = [];
                Http.getHttp('company/search', {"search_word": this.searchWord}, {})
                    .then(response => {
                        this.btnDisabled = false;
                        response.data.map(res => {
                            this.items.push({name: res.name});
                        });
                    })
                    .catch(err => {
                        this.btnDisabled = false;
                        this.showError = true;
                        this.errormessage = Helper.createErrorMessage(err);
                    });
            }
        }
    };
</script>
